#
# Configuration for Hugo web site generator.
# See https://gohugo.io/getting-started/configuration/
#
baseURL      = "https://sis.apache.org"
title        = "Apache SIS"
languageCode = "en"
contentDir   = "source"
publishDir   = "target"

uglyURLs           = true       # Creates URL of the form /filename.html instead of /filename/.
disablePathToLower = true       # Do not convert the url/path to lowercase.
enableGitInfo      = true       # Update Lastmod parameter for each page using the last git commit date.

# Turn off the generation of "categories" and "tags" sub-directories.
disableKinds = ["taxonomy", "taxonomyTerm"]

#
# Highlighting configuration.
# See http://help.farbox.com/pygments.html
#
pygmentsCodeFences = true
pygmentsUseClasses = true
pygmentsStyle      = "emacs"

[markup.goldmark.renderer]
unsafe= true                    # Required for allowing <table> HTML to be rendered.

[frontmatter]
  date = ["date", ":filename", "publishDate", "lastmod"]

[params]
  repositoryUrl              = "https://github.com/apache/sis"
  repositorySourceBranch     = "master"
  siteRepositoryUrl          = "https://github.com/apache/sis-site"
  siteRepositorySourceBranch = "main"

[markup.tableOfContents]
  startLevel = 1
  endLevel   = 5
  ordered    = false

[languages]
  [languages.en]
    contentDir = "source"
  [languages.fr]
    contentDir = "source/fr"
