/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

h2 {
  margin-left:  21px;
  margin-top:   30px;
  margin-bottom: 9px;
  font-size: large;
}

section > p {
  margin-top: 9px;
}

section > p, section > ul {
  margin-left:  60px;
  margin-right: 30px;
}

section > blockquote {
  margin-left:  90px;
  margin-right: 60px;
}

p {
  text-align: justify;
}

caption {
  font-family:    sans-serif;
  font-weight:    bold;
  margin-top:     9px;
  margin-bottom:  3px;
  text-align:     left;
}

table {
  margin-left:    60px;
  margin-right:   auto;
  border-style:   solid;
  border-width:   1px;
  border-spacing: 0px;
}

table tr th {
  background-color:    #c9d5e8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top:         4px;
  padding-bottom:      1px;
  padding-left:        12px;
  text-align:          left;
}

table tr td {
  padding-left:  12px;
  padding-right: 12px;
  background-color: whitesmoke;
}

table.grid td {
  border-style: solid;
  border-width: 0.5px;
}
