<!DOCTYPE html>
<html lang="en">
  <!--
      Licensed to the Apache Software Foundation (ASF) under one or more
      contributor license agreements.  See the NOTICE file distributed with
      this work for additional information regarding copyright ownership.
      The ASF licenses this file to You under the Apache License, Version 2.0
      (the "License"); you may not use this file except in compliance with
      the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE- 2.0

      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.
  -->
  <head>
    <title>Apache SIS - {{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/sis.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/syntax.css">
  </head>
  <body>
    <div class="topbar">
      <a class="topbar-brand" href="/index.html">Apache SIS™</a>
      <ul class="topbar-items">
        <li>
          <a href="https://www.apache.org/events/current-event.html">
             <img class="apache-con" src="https://www.apache.org/events/current-event-234x60.png" alt="ApacheCon"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-section">
      <nav class="left-bar">
        <ul class="nav-pills">
          <li><a class="nav-link {{ if eq .Page.RelPermalink "/" }} active {{ else }} inactive {{ end }}" href="/index.html">Home</a></li>
          <li><a class="nav-link {{ if eq .Page.RelPermalink "/about.html" }} active {{ else }} inactive {{ end }}" href="/about.html">About</a></li>
          <li><a class="nav-link {{ if eq .Page.RelPermalink "/downloads.html" }} active {{ else }} inactive {{ end }}" href="/downloads.html">Downloads</a></li>
          <li><a class="nav-link {{ if strings.Contains .Page.RelPermalink "/howto" }} active {{ else }} inactive {{ end }}" href="/howto/index.html">How to…</a></li>
          <li><a class="nav-link {{ if eq .Page.RelPermalink "/standards.html" }} active {{ else }} inactive {{ end }}" href="/standards.html">Standards</a></li>
          <li><a class="nav-link {{ if eq .Page.RelPermalink "/formats.html" }} active {{ else }} inactive {{ end }}" href="/formats.html">Data formats</a></li>
          <li><a class="nav-link {{ if eq .Page.RelPermalink "/epsg.html" }} active {{ else }} inactive {{ end }}" href="/epsg.html">EPSG Database</a></li>
          <li><a class="nav-link {{ if eq .Page.RelPermalink "/javafx.html" }} active {{ else }} inactive {{ end }}" href="/javafx.html">Application (demo)</a></li>
          <li><a class="nav-link {{ if eq .Page.RelPermalink "/documentation.html" }} active {{ else }} inactive {{ end }}" href="/documentation.html">Documentation</a></li>
        </ul>
      </nav>
      <div class="main-content">
        <main class="container">
          <article>
            <img src="/images/logo.png" class="sis-logo" align="left"/>
            <p class="page-title">{{ .Title }}</p>
            {{ block "main" . }}{{ end }}
          </article>
        </main>
        <footer>
          <div class="container">
            <p>Copyright &copy; 2013-{{ now.Year }} The Apache Software Foundation, Licensed under the
            <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.<br/>
            Apache SIS, Apache, the Apache feather logo are trademarks of The Apache Software Foundation.</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
