/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * Table of content
 */
ul.toc {
  list-style-type: square;
  margin-bottom: 30px;
}

ul.toc ul {
  list-style-type: disc;
  padding-left: 21px;
}

/*
 * Links to previous and next chapters.
 */
div.chapter-links {
  width:               100%;
  background-color:    #CCDFFF;
  border-bottom-color: #0077B3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top:          0px;
  padding-top:         6px;
  margin-bottom:       18px;
  padding-bottom:      24px;
  white-space:         nowrap;
}

div.previous-chapter {
  width: 50%;
  float: left;
}

div.next-chapter {
  width:      50%;
  float:      right;
  text-align: right;
}

/*
 * Chapters and sections titles (excluding the book titles).
 */
section > header > h1 {
  margin-top:          160px;
  text-align:          center;
  background-color:    #99AAFF;
  border-top-color:    #0000CC;
  border-bottom-color: #0000CC;
  border-top-style:    solid;
  border-bottom-style: solid;
  border-top-width:    3px;
  border-bottom-width: 3px;
  padding-top:         6px;
  padding-bottom:      0px;
  margin-bottom:       0px;
}

section > h2 {
  margin-top:          60px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

section > h3 {
  margin-top: 50px;
}

section > h4 {
  margin-top: 30px;
}

span.section-number {
  margin-right: 9px;
}

p {
  text-align: justify;
}

div.example {
  margin-left:  21px;
  margin-right: 24px;
  font-size:    smaller;
}

article, aside {
  margin-left:      60px;
  margin-right:     60px;
  margin-top:       21px;
  margin-bottom:    21px;
  padding-left:     21px;
  padding-right:    21px;
  border-style:     solid;
  border-width:     2px;
  background-color: #EEEEEE;
  border-color:     #BBBBBB;
  font-size:        smaller;
}

aside h1, article h1,
aside h2, article h2,
aside h3, article h3,
aside h4, article h4,
aside h5, article h5 {
  font-size: medium;
  margin-top:    12px;
  margin-bottom: 12px;
}

aside h1, article h1 {
  font-size: large;
  margin-top: 15px;
}

caption {
  color:          #0086E0;
  font-weight:    bold;
  padding-top:    12px;
  padding-bottom: 3px;
}

table {
  margin-left:    auto;
  margin-right:   auto;
  border-style:   solid;
  border-width:   1px;
  border-spacing: 0px;
}

table tr th {
  background-color:    #B9DCFF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding:             6px;
}

table tr td {
  padding-left:  12px;
  padding-right: 12px;
}

table tr td.leftBorder {
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: lightgray;
}

table tr td.separator {
  text-align:          center;
  font-weight:         bold;
  background-color:    #EEEEFF;
  border-top-color:    LightGray;
  border-bottom-color: LightGray;
  border-top-style:    solid;
  border-bottom-style: solid;
  border-top-width:    1px;
  border-bottom-width: 1px;
  padding-top:         6px;
  padding-bottom:      6px;
}

table.hidden {
  border-style: none;
}

table.hidden tr {
  vertical-align: top;
}

table.hidden tr th {
  border-style:   none;
  background:     none;
  color:          #0086E0;
  font-weight:    bold;
  padding-top:    12px;
  padding-bottom: 6px;
  padding-left:   0;
  padding-right:  0;
}

table.hidden tr td {
  padding: 0;
}

pre {
  margin-left:   30px;
  margin-right:  30px;
  margin-top:    21px;
  margin-bottom: 21px;
  padding:       12px;
  border: 2px solid Gray;
  background: #F8F8F8
}

/*
 * OGC/ISO, GeoAPI and SIS legends.
 */
code.OGC {
  color: MediumBlue;
}

code.GeoAPI {
  color: Green;
}

code.SIS {
  color: SaddleBrown;
}

code.comment {
  color: Gray;
}
