<!DOCTYPE html>
<html>
  <head>
    <title>Release announce</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <b>To:</b> dev@sis.apache.org, user@sis.apache.org, announce@apache.org<br>
      <b>Subject:</b>  [ANNOUNCE] Apache SIS $VERSION Release
    </p><p>
      The Apache SIS PMC is pleased to announce the immediate availability of the SIS $VERSION release.
    </p><p>
      The release can be obtained from the Apache SIS download page - http://sis.apache.org/downloads.html
    </p><p>
      Release notes are available at - http://sis.apache.org/release-notes/$VERSION.html
    </p><p>
      Apache SIS is a Java language library for developing geospatial applications.
      SIS provides data structures for geographic features and associated metadata
      along with methods to manipulate those data structures. The library is an
      implementation of GeoAPI 3.0 interfaces and can be used for desktop or server
      applications.
    </p><p>
      Some Apache SIS features are:
    </p>
    <ul>
      <li>Geographic metadata (ISO 19115)<ul>
        <li>Read/write ISO 19115-3 and legacy ISO 19139 compliant XML documents</li>
        <li>Read from netCDF, GeoTIFF, Landsat, GPX and Moving Feature CSV encoding</li>
      </ul></li>
      <li>Raster data<ul>
        <li>Read netCDF 3</li>
      </ul></li>
      <li>Referencing by coordinates (ISO 19111) or by identifiers (ISO 19112)<ul>
        <li>Well Known Text (WKT) version 1 and 2 (ISO 19162)</li>
        <li>Geographic Markup Language (GML) version 3.2 (ISO 19136)</li>
        <li>Geodetic objects and operations from EPSG geodetic dataset</li>
        <li>Mercator, Lambert, stereographic and more map projections</li>
        <li>Geohashes and Military Grid Reference System (MGRS)</li>
        <li>Optional bridge to Proj.4 as a complement to Apache SIS own referencing engine</li>
      </ul></li>
      <li>Units of measurement<ul>
        <li>JSR-363 with parsing, formating and unit conversion functionalities</li>
      </ul></li>
    </ul>

    <p>For general information on Apache SIS, please visit the project website: http://sis.apache.org/</p>
  </body>
</html>
