<!DOCTYPE html>
<html>
  <head>
    <title>Release announce</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <b>To:</b> dev@sis.apache.org, user@sis.apache.org, announce@apache.org<br>
      <b>Subject:</b>  [ANNOUNCE] Apache SIS $VERSION Release
    </p><p>
      The Apache SIS PMC is pleased to announce the immediate availability of the SIS $VERSION release.
    </p><p>
      The release can be obtained from the Apache SIS download page - https://sis.apache.org/downloads.html
    </p><p>
      Release notes are available at - https://sis.apache.org/release-notes/$VERSION.html
    </p><p>
      Apache SIS is a Java language library for developing geospatial applications.
      SIS provides data structures for geographic features and associated metadata
      along with methods to manipulate those data structures, such as map projections.
      The library is an implementation of GeoAPI 3.0 interfaces
      and can be used for desktop or server applications.
      A JavaFX application is provided for demonstration purposes.
    </p><p>
      Some Apache SIS features are:
    </p>
    <ul>
      <li>Read netCDF-3, Cloud Optimized GeoTIFF (including BigTIFF) and Moving Feature CSV data formats</li>
      <li>Read/write GPX, ASCII Grid, World File, ISO 19115-3 metadata and legacy ISO 19139 compliant XML documents</li>
      <li>Leverage Cloud Optimized formats (GeoTIFF) for smaller downloads from HTTP and Amazon S3 storage service</li>
      <li>Referencing by coordinates (ISO 19111) or by identifiers (ISO 19112)<ul>
        <li>Well Known Text (WKT) version 1 and 2 (ISO 19162)</li>
        <li>Geographic Markup Language (GML) version 3.2 (ISO 19136)</li>
        <li>Geodetic objects and operations from EPSG geodetic dataset</li>
        <li>Mercator, Lambert, stereographic and more map projections</li>
        <li>Geohashes and Military Grid Reference System (MGRS)</li>
      </ul></li>
      <li>Units of measurement<ul>
        <li>JSR-385 with parsing, formating and unit conversion functionalities</li>
      </ul></li>
      <li>Processing<ul>
        <li>Multi-threaded raster reprojection</li>
        <li>Multi-threaded isolines computation from raster data</li>
        <li>Filtering of features (ISO 19143 conceptual model)</li>
      </ul></li>
    </ul>

    <p>For general information on Apache SIS, please visit the project website: https://sis.apache.org/</p>
  </body>
</html>
