<!DOCTYPE html>
<html>
  <head>
    <title>Release discuss</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <b>To:</b> dev@sis.apache.org<br>
      <b>Subject:</b> [DISCUSS] Apache SIS ${version} RC1
    </p><p>
      Discussion thread for vote on Apache SIS ${version} release candidate.
    </p><p>
      If you have any questions or feedback or to post results of validating the release, please reply to this thread.
      Once you verify the release, please post your vote to the VOTE thread.
    </p><p>
      For reference, the Apache release guide — https://www.apache.org/legal/release-policy.html
    </p><p>
      Some tips to validate the release before you vote:
    </p>

    <ul>
      <li>Download the binary version and run the 5 minute or 10 minute tutorial as described in [1].</li>
      <li>Download the source files from compressed files and build (which includes tests).</li>
      <li>Verify the distribution for the required LICENSE and NOTICE files</li>
      <li>Verify if all the staged files are signed and the signature is verifiable.</li>
      <li>Verify if the signing key in the project's KEYS file is hosted on a public server.</li>
    </ul>

    <p>
      Thanks for your time in validating the release and voting,<br>
      {Release Manager}<br>
      (On Behalf of SIS PMC)<br>
    </p>

    <pre>[1] https://sis.staged.apache.org/command-line.html</pre>
  </body>
</html>
