@import url('standard.css');



table.sis caption {
  color:          #0086E0;
  font-weight:    bold;
  padding-bottom: 4px;
}

table.sis {
  margin:           18px 0;
  width:            auto;
  background-color: #F4F8FF;
  border-color:     darkgray;
  border-style:     solid;
  border-width:     1px;
  border-spacing:   0;
  padding:          0;
  line-height:      1em;
}

table.sis tr th {
  background-color:    #B9DCFF;
  border-bottom-color: darkgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding:             6px;
  padding-bottom:      3px;
}

table.sis tr td {
  padding:        3px 12px;
  vertical-align: text-top;
}

table.sis tr th.hsep {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: darkgray;
}

table.sis tr td.hsep {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: darkgray;
}

table.sis tr th.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #819AB2;
}

table.sis tr td.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AAADB2;
}


table.compact {
  margin:         6px 0px;
  width:          auto;
  border:         none;
  border-spacing: 0;
  padding:        0;
  line-height:    1em;
  text-align:     left;
}

table.compact tr td {
  padding:        0 9px;
  vertical-align: text-top;
}


div.note {
  color:     #353833;
  font-size:   small;
  margin-left:  40px;
  margin-right: 40px;
  margin-top:    9px;
  margin-bottom: 9px;
}


div.warning {
  border-width: 2pt;
  border-style: solid;
  border-color: darkred;
  background:   antiquewhite;
  margin:       12pt 30pt;
  padding:      15px;
  min-height:   34px;
}

div.warning:before {
  position: relative;
  float:    left;
  top:      -15px;
  left:     -15px;
  content:  url("warning.png");
}


div.section {
  font-size:    15px;
  font-weight:  bold;
  margin-top:   21px;
  margin-bottom: 3px;
}

div.description div.section {
  font-size:  18px;
  margin-top: 30px;
}

div.block ul,
div.block ol {
  margin-top:    9px;
  margin-bottom: 9px;
  text-align:   left;
}

div.block ul > li,
div.block ol > li {
  margin-top:    0;
  margin-bottom: 0;
}

div.block ul.verbose > li,
div.block ol.verbose > li {
  margin-top:    9px;
  margin-bottom: 9px;
  text-align: justify;
}

div.block ul > li > ul,
div.block ol > li > ul {
  margin-top:    3px;
  margin-bottom: 6px;
  text-align:   left;
}

div.block ul > li > ul > li,
div.block ol > li > ul > li {
  margin-top:    0;
  margin-bottom: 0;
}

div.block center {
  margin-top:    18px;
  margin-bottom: 18px;
}

div.preformat {
  margin: 15px 30px;
  line-height: 100%;
  white-space: pre-wrap;
}

pre.code-sample {
  margin-left:   40px;
  margin-right:  40px;
  margin-top:    12px;
  margin-bottom: 12px;
}

td > pre.code-sample {
  margin: 9px;
}

:not(td) > pre.code-sample {
  padding:      9px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  background-color: rgba(200, 200, 200, 0.1);
}

span.deprecated {
  text-decoration: line-through;
}

:not(td) > div.block {
  text-align: justify;
}



body, div.block {
  color:       black;
  font-family: Helvetica, Arial, sans-serif;
}

.contentContainer .description dl dd, .contentContainer .details dl dd, .serializedFormContainer dl dd {
  color:       #353833;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 40px;
}

pre, div.block pre, code, tt, dt code, table tr td dt code {
  font-family: Andale Mono, Courier New, monospace;
}

div.block pre, code, tt, dt code, table tr td dt code {
  line-height: 1em;
  font-size:   1em;
}

td.colLast div.block a:link {
  font-weight: normal;
}
