@import url('standard.css');



table.sis caption {
  color:          #0086E0;
  font-weight:    bold;
  padding-bottom: 4px;
}

table.sis {
  margin:           18px 0;
  width:            auto;
  background-color: #F4F8FF;
  border-color:     darkgray;
  border-style:     solid;
  border-width:     1px;
  border-spacing:   0;
  padding:          0;
  line-height:      1em;
}

table.sis tr th {
  background-color:    #B9DCFF;
  border-bottom-color: darkgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding:             6px;
  padding-bottom:      3px;
}

table.sis tr td {
  padding:        3px 12px;
  vertical-align: text-top;
}

table.sis tr th.hsep {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: darkgray;
}

table.sis tr td.hsep {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: darkgray;
}

table.sis tr th.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #819AB2;
}

table.sis tr td.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AAADB2;
}


table.compact {
  margin:         6px 0px;
  width:          auto;
  border:         none;
  border-spacing: 0;
  padding:        0;
  line-height:    1em;
  text-align:     left;
}

table.compact tr td {
  padding:        0 9px;
  vertical-align: text-top;
}


div.note {
  color:     #353833;
  font-size:   small;
  margin-left:  40px;
  margin-right: 40px;
  margin-top:    9px;
  margin-bottom: 9px;
}


div.warning {
  border-width: 2pt;
  border-style: solid;
  border-color: darkred;
  background:   antiquewhite;
  margin:       12pt 30pt;
  padding:      15px;
  min-height:   34px;
}

div.warning:before {
  position: relative;
  float:    left;
  top:      -15px;
  left:     -15px;
  content:  url("warning.png");
}


div.block h5 {
  font-size:    16px;
  margin-top:   30px;
  margin-bottom: 6px;
}

div.block h6 {
  font-size:    16px;
  margin-top:   30px;
  margin-bottom: 6px;
}

div.block ul,
div.block ol {
  margin-top:    9px;
  margin-bottom: 9px;
}

div.block li > ul,
div.block li > ol {
  margin-top:    0;
  margin-bottom: 6px;
}

ul.verbose li {
  margin-top:    6px;
  margin-bottom: 6px;
}




body, div.block {
  color:       black;
  font-family: Helvetica, Arial, sans-serif;
}

.contentContainer .description dl dd, .contentContainer .details dl dd, .serializedFormContainer dl dd {
  color:       #353833;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 40px;
}

pre, div.block pre, code, tt, dt code, table tr td dt code {
  font-family: Andale Mono, Courier New, monospace;
}

div.block pre, code, tt, dt code, table tr td dt code {
  line-height: 1em;
  font-size:   1em;
}

td.colLast div.block a:link {
  font-weight: normal;
}
