/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

p {
  text-align: justify;
}

h2 {
  padding-top: 32px;
}

span.non-epsg {
  font-size: small;
  color:   #707070;
}

table {
  line-height:    1em;
  border-spacing: 0;
  padding:        0;
}

/*
 * Table of parameters.
 */
table.param caption {
  text-align:  left;
  font-weight: bold;
  padding:  6px 2px;
}

table.param {
  background-color: #eff2f6;
  border-color:     darkgray;
  border-style:     solid;
  border-width:     2px;
}

table.param th {
  color:               #08366d;
  background-color:    #a8c9f3;
  border-bottom-color: darkgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding:             3px 9px;
}

table.param td {
  padding:        3px 12px;
  vertical-align: text-top;
}

table.param th.sep, td.sep {
  border-left-color: darkgray;
  border-left-style: solid;
  border-left-width: 1px;
}

table.param td.right {
  padding-right: 0px;
  text-align:  right;
}

table.param td.center {
  padding-left:  3px;
  padding-right: 3px;
  text-align: center;
}

table.param td.left {
  padding-left: 0px;
  text-align:  left;
}

/*
 * Aliases inside the table of parameters.
 */
table.aliases {
  background-color: transparent;
  border-style:     none;
  padding:          3px 0px 3px 18px;
}

table.aliases th {
  font-size:        small;
  font-weight:      normal;
  color:            #707070;
  background-color: transparent;
  border-style:     none;
  padding:          0px;
}

table.aliases td {
  font-family: monospace;
  padding:     0px 0px 0px 3px;
}

/*
 * Header before the table of parameters.
 */
table.info {
  padding-bottom: 6px;
  border-style:  none;
}

table.info th, td {
  padding: 1px 3px;
  text-align: left;
}

/*
 * Remarks after the table of parameters.
 */
table.footnotes {
  padding-top:  6px;
}

table.footnotes th, td {
  padding: 1px 3px;
  text-align: left;
}
